<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:layout name="Home" />


<f:section name="Configuration">
    <flux:form id="home" label="Home">
        <flux:grid>
            <flux:grid.row>
                <flux:grid.column colPos="3" name="Flyout Content" label="{v:l(key:'flux.flyout.content')}" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="1" name="Header Content" label="{v:l(key:'flux.header.content')}" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="0" name="Main Content" label="{v:l(key:'flux.main.content')}" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="2" name="Footer Content" label="{v:l(key:'flux.footer.content')}" />
            </flux:grid.row>
        </flux:grid>
    </flux:form>
</f:section>


<f:section name="Content">
    <v:content.render column="0" />
</f:section>

</div>
