{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">

    <div class="row">
        <f:for each="{terms}" as="term">
        <div class="col-12 col-md-6">
            <div class="card rounded-0" style="margin-bottom: 20px;">
                <div class="card-block">
                    <h3 class="card-title"><f:format.html>{term.term}</f:format.html></h3>
                    <p class="card-text">
                        <f:format.html>{term.description}</f:format.html>
                    </p>
                </div>
            </div>
        </div>
        </f:for>
    </div>

</f:section>