{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">

    <f:link.page pageUid="10">Import</f:link.page>

    <f:form action="add" object="{newTerms}" name="newTerms" method="POST" additionalAttributes="{role:'form'}">
        <div class="row"><div class="col-12"><div class="total" style="font-size: 10px;"> Total: {total}</div></div></div>
        <div class="form-group row">
            <div class="col-1 col-form-label">Term</div>
            <div class="col-5"><f:form.textfield  property="term" class="form-control" /></div>
        </div>
        <div class="form-group row">
            <div class="col-1 col-form-label">Description</div>
            <div class="col-11"><f:form.textarea property="description" rows="8" cols="50"  class="form-control"/></div>
        </div>
        <div class="form-group row">
            <div class="col-1 col-form-label">Note</div>
            <div class="col-11"> <f:form.textfield  property="note"  class="form-control"/></div>
        </div>
        <div class="form-group row">
            <div class="col-lg-6">
                <f:form.submit  class="form-control btn btn-primary"  value="Send" />
            </div>
        </div>

    </f:form>



    <div class="row row-eq-height terms-list">
        <f:for each="{terms}" as="term">
        <div class="col-12 col-md-6">
            <div class="card rounded-0" style="margin-bottom: 20px;">
                <div class="card-block">
                    <h3 class="card-title"><f:format.html>{term.term}</f:format.html></h3>
                    <p class="card-text">
                        <f:format.raw>{term.description}</f:format.raw>
                    </p>
                </div>
            </div>
        </div>
        </f:for>
    </div>

</f:section>