{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">

    <f:form method="post" controller="odb" action="list" name="code" object="{codes}" ">

        <div class="row">
            <div class="col-2"><label for="code">Code</label></div>
            <div class="col-4"><f:form.textfield  property="code" /></div>
        </div>
        <div class="row">
            <div class="col-2">Description</div>
            <div class="col-4">  <f:form.textarea property="description" rows="5" cols="50" /></div>
        </div>
        <div class="row">
            <div class="col-2">Note</div>
            <div class="col-4"> <f:form.textfield  property="note" /></div>
        </div>
        <div class="row">
            <div class="col-6">
                <f:form.submit value="Send" />
            </div>
        </div>

    </f:form>


</f:section>