{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">


    <f:form action="add" object="{codes}" name="codes" arguments="{codes:codes}">

        <div class="row">
            <div class="col-2">Code</div>
            <div class="col-4"><f:form.textfield  property="code" /></div>
        </div>
        <div class="row">
            <div class="col-2">Description</div>
            <div class="col-4">  <f:form.textarea property="description" rows="5" cols="50" /></div>
        </div>
        <div class="row">
            <div class="col-2">Note</div>
            <div class="col-4"> <f:form.textfield  property="note" /></div>
        </div>
        <div class="row">
            <div class="col-6">
                <f:form.submit value="Send" />
            </div>
        </div>

    </f:form>

    <h1>Codes</h1>
    <f:for each="{codes}" as="code">
        <h3><f:format.html>{code.code}</f:format.html></h3>
        <p><f:format.html>{code.description}</f:format.html></p>
        <br>
    </f:for>


</f:section>